<body style="background-color:powderblue;">

<center><h1>Pusheens I Identify with the Most.</h1></center>

<%= FavoritePusheens.all.inspect %>

<p>
<p>

<ul>
  <% for favoritepusheens in FavoritePusheens.all %>
    <li>
      <p>
      <hr>
      <b><%= favoritepusheens.name %> </b>
      <p>
      <p>
      <%=favoritepusheens.address %>
      <div align = "right"> <img src ="<%=favoritepusheens.photo_url %>">
    </li>
<% end %>
</ul>
