<h1>This is a List of My Favorite Pusheens.</h1>

<%= FavoritePusheens.all.inspect %>

<p>
<p>

<ul>
  <% for favoritepusheens in FavoritePusheens.all %>
    <li>
      <%= favoritepusheens.name %>
    </li>
<% end %>
</ul>

<ul>
  <% for favoritepusheens in FavoritePusheens.all %>
    <li>
      <%= favoritepusheens.address %>
    </li>
<% end %>
</ul>

<ul>
  <% for favoritepusheens in FavoritePusheens.all %>
    <li>
      <img src ="<%=favoritepusheens.photo_url %>"
    </li>
  <% end %>
</ul>
